.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h2{
    text-align: center;
}

ul{
    padding: 0;
}
li{
    list-style: none;
    padding-bottom: 10px;
    font-size: 16px;
}