.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.containerInfo{
    display: flex;
    width: 450px;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
}

.card{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

h4{
    color: rgb(104, 103, 103);
}

.title{
    color: black;
}

.imageInfo{
    width: 250px;
    height: 300px;
    object-fit: cover;
}
