<div class="container">
    <div class="containerInfo">
        <div class="card"> 
            <h4 class="title">Имя:</h4>
            <h4>{{userInfo.name}}</h4>
        </div>

        <div class="card">
            <h4 class="title">Должность:</h4>
            <h4>{{userInfo.job}}</h4>
        </div>

        <div class="card">
            <h4 class="title">Город:</h4>
            <h4>{{userInfo.town}}</h4>
        </div>

        <div class="card">
            <h4 class="title">Возраст:</h4>
            <h4>{{userInfo.age}}</h4>
        </div>
    </div>

    <img src="../../assets/img/golub.jpg" alt="">
</div>